<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Successfully Submitted</title>
    <style>
    	body,html {
		  height: 100%;
		}
	</style>
  </head>
  <body>
  	<div class="container d-flex h-100">
    <div class="row align-self-center w-100">
        <div class="col-9 mx-auto">
            <div class="card border-0" style="width: 100%">
            	<div class="card-body text-center mb-5">
            		<img src="https://image.flaticon.com/icons/svg/1161/1161751.svg" alt="" style="width: 100px" class="my-3">
            		<h1 class="font-weight-bolder text-center">Successfully Submitted</h1>
               		 <p class="lead">We will get in touch with you soon</p>
               		 <a href="#">Go back to Home Page</a>
            	</div>
            	<div class="card-footer bg-white text-center my-5">
            		form by - &copy <a href="manascode.com">manascode.com</a>
            	</div>
            </div>
        </div>
    </div>
</div>
  </body>
</html>